* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
/* classi utility */
.bg_blue{
  background: #0C325A;
}
.bg_green{
  background: #7CBB02;
}
.bg_grey{
  background: #D3D3D3;
}
/* classi utility */

p{
  color: #D3D3D3;
}

#site_header {
  background-image: url("../img/banner_header.png");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: 115% 110%;
  width: 100%;
  min-width: 1400px;
  padding: 0 10%;
  height: 550px;
  overflow: hidden;
}

#site_content {
  height: 1000px;
}
#site_footer {
  height: 150px;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.col_3{
  float: left;
  width: 33.33%;
}

.col_2 {
  float: left;
  width: 50%;
}

.container {
  width: 80%;
  margin: auto;

}

/* sezione navbar */
.navbar {
  color: white;
  line-height: 80px;
  font-size: 11px;
  text-transform: uppercase;
}
.navbar::after {
  content: "";
  display: table;
  clear: both;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.menu_left a:hover {
  color: orange;
}

.logo, .menu_left, .menu_right {
  float: left;
}

.logo {
  width: 15%;
}
.logo img {
  margin-top: 15px;
}
.menu_left {
  width: 55%;
}
nav a {
  padding: 10px;
}

.menu_right {
  width: 30%;
  text-align: right;
}

/* sezione hero */
.hero_image{
  position: relative;
  height: calc(550px - 80px);
}
.hero_text {
  width: 50%;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero_text h1 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  padding: 20px 10px;
}
.btn_sm {
  display: inline;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
}

.menu_right > .btn_outline {
  border: 1px solid white;
  padding: 0.75em 2em;
}



/* main site_content*/

#under_header_text_banner{
  padding: 2em 0;
  text-align: center;
}

#under_header_text_banner h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

#under_header_text_banner p {
  font-size: 1.15em;
  color: #808080;
}
